@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@layer base {
    body {
        /* @apply bg-[#3D8E92] text-[#92413D]; */
    }
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}

@font-face {
    font-family: 'universal';
    src: url('/fonts/universal.otf');
}